extends layout

block content
    .container.w-50.mt-5.shadow
        h1 Login
        form.py-3(method="POST", action="/users/login")
            #form-group
                label Username:
                input.form-control(name="username", type="text")
            #form-group
                label Password:
                input.form-control(name="password", type="password")
            br
            input.btn.btn-primary(type="submit", value="Submit")
